::selection {
  background-color: rgba(16, 185, 129, 0.3);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; 
}

::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}

body.menu-open {
  overflow: hidden;
}

#mobile-menu {
  clip-path: circle(0px at top right);
  transition: clip-path 0.4s ease-in-out;
}

#mobile-menu.open {
  clip-path: circle(150% at top right);
}
